
body {
    background-color: black;    
}

.App {
    background-color: black;
    flex: 1;
}

.App h3 {
    color: white;
    padding: 0 2em;
}

.App hr {
    display: block;
    width: 100%;
    margin: 1em 0;
}